<html>
  <body>
    <form method="post" action="/createstudent">
      <input type="text" placeholder="First Name" name="firstname" />
      <br />
      <input type="text" placeholder="Last Name" name="lastname" />
      <br />
      <input type="email" placeholder="Email" name="email" />
      <br />
      <input type="radio" name="gender" value="Male" /> Male
      <br />
      <input type="radio" name="gender" value="Female" /> Female
      <br />
      <input type="checkbox" name="plang" value="C" /> C
      <br />
      <input type="checkbox" name="plang" value="C++" /> C++
      <br />
      <input type="checkbox" name="plang" value="Java" /> Java
      <br />
      <select name="os">
        <option value="Windows">Windows</option>
        <option value="Linux">Linux</option>
        <option value="Mac">Mac</option>
      </select>
      <br />
      <select name="city" multiple>
        <option value="Aurangabad">Aurangabad</option>
        <option value="Pune">Pune</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Nashik">Nashik</option>
      </select>
      <br />
      <input type="submit" value="save" align="center" />
    </form>
  </body>
</html>
