<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="stylesheet.css" rel="stylesheet" />
    <title>New Registration</title>
  </head>
  <body>
    <h1 class="heading">New Registration</h1>
    <form method="post" action="/createAcc" class="new_register">
      <p>
        Enter username :
        <input type="text" name="empName" placeholder="Username" />
      </p>
      <p>
        Enter password :
        <input type="password" name="empPass" placeholder="Password" />
      </p>
      <p>
        Enter Name :
        <input type="text" name="empFName" placeholder="First Name" />
      </p>
      <p>
        Enter Email : <input type="text" name="empEmail" placeholder="Email" />
      </p>
      <input type="submit" value="Sign Up" class="login" />
    </form>
  </body>
</html>
